$yeti-cooler: "../img/yeti.jpg";
$denver: "../img/store.jpg";
$burton: "../img/snowboard.jpg";
$bike: "../img/bike.jpg";
$team: "../img/team.jpg";

$feature-1: "../img/socks.jpg";
$feature-2: "../img/skier.jpg";
$feature-3: "../img/helmet.jpg";



$backgrounds: $yeti-cooler, $denver, $burton, $bike,  $team;
$feature-backgrounds: $feature-1, $feature-2, $feature-3;
